* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background: rgb(242, 163, 176);
      color: #333;
      line-height: 1.6;
    }

    nav {
      background: #4a154b;
      color: white;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
    nav h2 {
      font-size: 30px;
      font-weight: bold;
    }

    nav p {
      font-size: 15px;
      font-style:arial;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      transition: 0.3s;
    }

    nav ul li a:hover {
      color:black;
      background-color: white;
      padding: 10px;
    }
    .intro {
      text-align: center;
      padding: 30px 10px;
    }
    .intro img {
      width: 250px;
      border-radius: 100%;
      margin-bottom: 10px;
    }

    .intro h1 {
      font-size: 50px;
      color: #4a154b;
    }

    .intro p {
      margin: 20px ;
      font-size:large;
      margin-bottom: 0px;
    }
    .about h2{
      color: #4a154b;
    }

    .button {
      display: inline-block;
      background: #4a154b;
      color: white;
      padding: 30px 20px;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px;
      align-items: center;
    }

    .about, .skills, .projects, .contact {
      padding: 30px 10px;
      width: 1000px;
      margin: auto;
    }
    .skills h2{
      color: #4a154b;
    }
    
    .skills ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .skills ul li {
      background: white;
      color: blueviolet;
      font-weight: bold;
      padding: 40px 10px;
      border-radius: 4px;
    }
    .projects h2{
      color: #4a154b;
    }

    .project-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .project-item {
      background: white;
      padding: 10px;
      border-radius: 10px;
      box-shadow:4px 4px 10px rgba(0,0,0,0.25);
    }
    .project-item h3{
      color: #4a154b;
    }

    .project-item img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 10px;
    }
    hr{
      margin-top: 10px;
      margin-left: 1px;
      width:500%;
      color: #4a154b;
      height:bold;
    }
    .phone:hover{
      color:blue;
      cursor: pointer;
      text-decoration: underline;
    }

    .contact {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: bold;
    }

    footer {
      background: #4a154b;
      color: white;
      text-align: center;
      padding: 30px;
      margin-top: 10px;
      font-weight: bold;
    }

    @media (max-width: 600px) {
      .project-list {
        grid-template-columns: 1fr;
      }

      nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }
    }